name: Run Python Script

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  run-python:
    runs-on: ubuntu-latest
    container:
      image: python:3.11-slim

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11.2"

      - name: Verify Python version
        run: |
          python --version
          python -m pip install --upgrade pip
          # Add any dependencies here if needed
          # pip install -r requirements.txt

      - name: Run Python script
        run: |
          pwd
          ls -lah
          python src/main.py
